utils/weatherbitHistorical/station.csv
utils/weatherbitHistorical/station.csv
builds/Makefile
.idea/
localutils/
makeutils/Makefile
makeutils/
*.exe
go.sum
*.csv
build/weatherbitsvc
utils/weatherbitdataoperator/build/weatherbitdataoperator
utils/weatherbitcheck/stationsAll_filter.xls
utils/weatherbithistorical/build/weatherbithistory
build/apisvc
build/usersvc
*.pb.go
build/autocompletesvc
build/daydegreesvc
build/stationssvc
build/setup.zip
*.yml
build/weatherbitupdatesvc
apisvc/cmd/server/src/www/
test/test.go
test/test3.go
build/metricssvc
