.idea/gradtage.de.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
utils/weatherbitHistorical/station.csv
utils/weatherbitHistorical/station.csv
builds/Makefile
.idea/
localutils/configs/promtail.yml
localutils/
makeutils/Makefile
makeutils/
*.exe
go.sum
*.csv
build/weatherbitsvc
utils/weatherbitdataoperator/build/weatherbitdataoperator
utils/weatherbitdataoperator/build/wdoConfig.yml
utils/weatherbitcheck/stationsAll_filter.xls
utils/weatherbithistorical/build/weatherbithistory
utils/weatherbithistorical/build/configwbh.yml
build/apisvc
build/usersvc
*.pb.go
*config.yml
build/autocompletesvc
build/daydegreesvc
build/stationssvc
build/setup.zip
build/setup/usersvc.yml
*.yml
