.idea/gradtage.de.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
utils/weatherbitHistorical/config.yml
utils/weatherbitHistorical/station.csv
weatherbitsvc/cmd/server/src/config.yml
utils/weatherbitHistorical/station.csv
builds/Makefile
.idea/
localutils/configs/promtail.yml
localutils/
makeutils/Makefile
makeutils/
dlyaggregatorsvc/cmd/server/src/config.yml
usersvc/cmd/server/src/config.yml
*.exe
go.sum
